@use './variables' as *;

.profile {
  height: 100%;
  section {
    height: 100%;
    display: flex;
    flex-direction: row;
    .left,
    .right {
      flex-basis: 50%;
      padding: 20px 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        font-size: xx-large;
        margin: 0;
      }

      img {
        width: 100%;
      }
    }
    .right {
      background-color: $color4;
      .avatar-panel {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .main {
          margin-right: 10px;
          img {
            width: 220px;
            height: 220px;
            border: 2px solid $color3;
            border-radius: 50%;
          }
        }
        .upload {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
