* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0;
  background-color: #8f8f8f;
}

body::-webkit-scrollbar-thumb {
  background-color: #333;
}

.cards-wrapper {
  margin-top: 6rem;
  margin: 4rem auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.5s;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.33);
  overflow: hidden;
  margin: 2rem 1rem;
  flex-basis: 200px;
  min-width: 150px;
  height: 22rem;
}

.card-img {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.card-info p {
  margin: 0;
  font-size: 1.2rem;
}

.card-info span .card-info p {
  margin: 0;
  font-size: 1.2rem;
}

.card-info span {
  font-size: 1rem;
  color: #666;
}

.icons {
  display: flex;
  justify-content: flex-end;
}

.icons svg {
  margin-left: 10px;
  cursor: pointer;
}

.icons * {
  font-size: 1.2rem;
  cursor: pointer;
}

.card-footer {
  padding: 0.7rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
